/*
	Wiltre Santiago 
	ASD 1311
	Week 1 Project
*/


/* The block of style below is just to test the style.css connection to the index.html */

/*
h1 {
	display: block;
	color: #07eeea;  
	background-color: black;
}
*/
/*  *****--- End of the testing ---*****  */